{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": ["standard", "standard-react"],
  "rules": {
    "no-tabs": 0,
    "padded-blocks": "off",
    "indent": "off",
    "react/jsx-indent": "off",
		"react/prop-types": 0,
		"jsx-quotes": 0,
		"react/jsx-indent-props": "off",
    "func-call-spacing": "off",
    "no-trailing-spaces": "off",
    "space-infix-ops": "off"
  },
  "parser": "babel-eslint"
}
